<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	{% extends 'myapp/base.html' %} {% block body_block %}
	<div class="container">
		<p>
			<b>Category Name: </b> {{ cat.name}}
		</p>
		<p>
			<b>Warehouse location: </b> {{ cat.warehouse}}
		</p>
		{% if prod_list %}
		<p>
			<b>Products under the category :</b>
		</p>
		<ol>
			{% for prod in prod_list %}
			<li>{{ prod.name}}</li> {% endfor %}
		</ol>
		{% else %} <strong>There are no available Products!</strong> 
		{% endif %} {% endblock %}
		<p>
			<a href="{% url 'myapp:index' %}">Index page</a>
		</p>
		<p>
			<a href="{% url 'myapp:about' %}">About page</a>
		</p>
	</div>
</body>
</html>