<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login Page</title>
</head>
<body>
	{% extends 'myapp/base.html' %} {% block body_block1 %}
	<br>
	<div class="container">
		<form class="form" action="" method="post">
			{% csrf_token %} <label for="email">Username: </label><input
				class="form-control" id="username" name="username" autofocus
				required> <label for="password">Password: </label><input
				class="form-control" type="password" id="password" name="password"
				required> <br /> <input
				class="form-control btn btn-lg btn-primary" type="submit">
		</form>
	
	<p>
		<a href="{% url 'myapp:register_client' %}">New User? Sign Up
			here!</a>
	</p>
	<p><a href="{% url 'password_reset' %}">Forgot Password?</a></p>
	</div>
	{% endblock %}
</body>


</html>